        /* Big tablet to 1200px (widths smaller than 1140px row) */
        
        @media only screen and (max-width: 1200px) {
            .hero-textbox {
                width: 100%;
                padding: 0 2%;
            }
            .row {
                padding: 0 2%;
            }
        }
        /* small tablet to big tablet from 768-1023px, portrait mode */
        
        @media only screen and (max-width: 1023px) {
            body {
                font-size: 18px;
            }
            section {
                padding: 60px 0px;
            }
            .long-text {
                width: 80%;
                margin-left: 10%;
            }
            .steps {
                margin-bottom: 40px;
            }
            .steps:last-of-type {
                margin-top: -px;
            }
            .app-screen {
                width: 45%;
                margin-right: -50px;
            }
            .icon-small {
                width: 17px;
                margin-right: 5px;
            }
            .city-feature {
                font-size: 90%;
            }
            .plan-box {
                width: 100%;
            }
            .plan-price {
                font-size: 250%;
            }
            .contact-form {
                width: 90%;
            }
        }
        /* small phones to small tablets  from 481-767px*/
        
        @media only screen and (max-width: 767px) {
            body {
                font-size: 16px;
            }
            section {
                padding: 30px 0;
            }
            .row {
                padding: 0 4%;
            }
            .col {
                width: 100%;
            }
            .main-nav {
                display: none;
            }
            .mobile-nav-icon {
                display: inline-block;
            }
            .main-nav {
                float: left;
                margin-top: 35px;
                margin-left: 25px;
            }
            .main-nav li {
                display: block;
            }
            .main-nav li a:link,
            .main-nav li a:visited {
                display: block;
                border: 0;
                padding: 5px 0;
                font-size: 100%;
            }
            .sticky {
                height: 6.5%;
            }
            .sticky .main-nav {
                margin-top: 10px;
            }
            .sticky .main-nav li a:link,
            .sticky .main-nav li a:visited {
                padding: 10px 0px;
                -webkit-transition: border-bottom 0.3s;
                transition: border-bottom 0.3s;
            }
            .sticky .mobile-nav-icon i {
                color: rebeccapurple;
            }
            .sticky .mobile-nav-icon {
                margin-top: 7px;
            }
            .sticky .logo-black {
                height: 55px;
                margin-top: 0px;
            }
            .long-text {
                width: 100%;
                margin-left: 0%;
            }
            h1 {
                font-size: 180%;
            }
            h2 {
                font-size: 150%;
            }
            .steps div {
                height: 40px;
                width: 40px;
                text-align: center;
                float: left;
                font-size: 130%;
                margin-right: 16px;
                margin-top:
            }
            .steps-box:first-child {
                margin-bottom: 40px;
            }
            .app-screen {
                width: 80%;
            }
            .plan-box div,
            col {
                padding: 15px;
                border-bottom: 1px solid #e0e0e0;
                margin: 0% 0 4% 0%;
            }
        }
        /* small phones from 0-480px */
        
        @media only screen and (max-width: 480px) {
            section {
                padding: 25px 0;
            }
            .hero-textbox {
                text-align: center;
            }
            .section-features {
                text-align: center
            }
            .section-features .long-text {
                margin-bottom: 0px;
            }
            .section-steps {
                text-align: center;
            }
            .btn-app img {
                margin: auto 0;
            }
            blockquote {
                text-align: center;
            }
            cite img {
                width: 50px;
                border: .5px solid;
            }
            .contact-form {
                width: 100%;
            }
            #cities {
                text-align: center;
                margin-left: 0;
            }
            #cities h3 {
                margin-bottom: 5px;
            }
            #cities .col {
                margin-bottom: 20px;
            }
            .section-plans h2 {
                margin-top: 20px;
            }
            .footer-nav {
                margin: auto 0;
            }
            .footer-nav {
                text-align: center;
                float: none;
                margin-bottom: 18px;
            }
            .social-links {
                text-align: center;
                float: none;
                ;
            }
            .section-form .col {
                margin-top: 10px;
            }
        }
